
.logo {
  opacity: 0.6;
  animation: logoBlink 30s infinite 3s linear;
  transition: opacity 200ms ease-out;
}

.logo:hover {
  opacity: 1;
  animation: none;
}


@keyframes logoBlink {
  0% {
    opacity: 0.6;
  }
  1% {
    opacity: 1;
  }
  2%,
  100% {
    opacity: 0.6;
  }
}
