.root {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
  background: transparent;
}

.root a,
.root button {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.375rem;
  height: 100%;
  color: currentColor;
  font: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
}

.root svg {
  font-size: 1.5em;
  flex-shrink: 0;
}
